
<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
	<meta charset="{{ site.charset }}" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="AuxCoder <auxcoder@gmail.com> (http://auxcoder.com/)" />
  <title>{{ site.name }}</title>
	<script>document.documentElement.className = document.documentElement.className.replace(/no-js/g, 'js');</script>
	{{ function('wp_head') }}
</head>

<body class="{{ body_class }}">

{% block content %}
<div class="container">
	<div id="home" >
		<div class="cell">&nbsp;</div>
		<div class="cell">&nbsp;</div>
		<div class="cell">&nbsp;</div>
    <div class="cell">&nbsp;</div>

    <div class="cell">&nbsp;</div>
    <div class="cell d-flex align-items-center align-center justify-content-center">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          id="selectCountry"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="selectCountry">
          {% for country in countries %}
            <a class="dropdown-item" href="{{ site.link }}/archive/?country={{ country.id }}">{{ country.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="cell">&nbsp;</div>
    <div class="cell">&nbsp;</div>

    <div class="cell">&nbsp;</div>
    <div class="cell">&nbsp;</div>
    <div class="cell">&nbsp;</div>
    <div class="cell">&nbsp;</div>
	</div>
</div>
{% endblock %}

{{ function('wp_footer') }}

</body>
</html>
