
<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
	<meta charset="{{ site.charset }}" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="AuxCoder <auxcoder@gmail.com> (http://auxcoder.com/)" />
  <title>{{ site.name }}</title>
	<script>document.documentElement.className = document.documentElement.className.replace(/no-js/g, 'js');</script>
	{{ function('wp_head') }}
</head>

<body class="{{ body_class }}">

{% block content %}
<div class="container" id="homeTwig">
  <div class="row countries-selection">
    <h4 class="col-md-3 col-12 countries-selection-label">Select Your Location</h4>

    <div class="col-md-9 col-12 countries-group">
      <div class="row">
        {% for country in countries %}
        <div class="col-6 country-group-item">
          <a href="/countries/{{country.slug}}" type="button" class="country-link w-100" id="{{country.id}}">
            {{country.name}}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>˜
{% endblock %}

{{ function('wp_footer') }}

</body>
</html>
